.buttonToSendFile:hover {
    background: none !important;
    color: inherit !important;
    border: none !important;
    padding: 0 !important;
    font: inherit !important;
    cursor: pointer !important;
    outline: none !important;
}

.buttonToSendFile:focus {
    background: none !important;
    color: inherit !important;
    border: none !important;
    padding: 0 !important;
    font: inherit !important;
    cursor: pointer !important;
    outline: none !important;
}